{% extends "basehtml.twig" %}

{% block head %}
    {{ parent() }}


    <script id="individualsTable-template" type="text/x-handlebars-template">

        {% verbatim %}
        <td id={{id}}                   name="id" >{{id}}</td>
        <td id={{id}} class="crosshair" name="doctorId" >{{doctorId}}</td>
        {% endverbatim %}

    </script>


{% endblock %}



{% block table %}

                        <form action='doctor' method='post'>
                            <table id="familyTable" class="table table-hover dataTable table-bordered tablesorter" cellspacing="0"  style="margin-top:5px;width:100%">
                                <thead>
                                <tr>
                                    <th class="sorting" name="id" >id</th>
                                    <th class="sorting" name="doctorId" >doctor ID</th>
                                      <!--<th class="sorting" name="created" >Created</th>
                                    <th class="sorting" name="modified">Modified</th>-->

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th class="sorting" name="id" >id</th>
                                    <th class="sorting" name="doctorId" >doctor ID</th>
                                    <!--<th class="sorting" name="created" >Created</th>
                                    <th class="sorting" name="modified">Modified</th>-->
                                </tr>
                                </tfoot>
                                <tbody>

                                {% for item in data['data'] %}
                                    <tr>
                                        {% for value in item | slice(0, (item|length)-2) %}
                                            <td> {{ value }} </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </form>

{% endblock %}

{% block customButtons %}
                                <span><button style="color:#428bca;  margin-top:-1px" id = "addDoctor" name="addFamily" class="btn btn-sm btn-default" onclick="addFamilyRow()" />Add family</span>
                                <span><button type="submit" style=" display:none; color:#428bca;  margin-top:-1px" id ="submitFamily" name="submitDoctor" class="btn btn-sm btn-default" onclick = "submitForm()" />Submit</span>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="public/assets/js/family.js"></script>
{% endblock %}