{% extends "basehtml.twig" %}

{% block head %}
    {{ parent() }}


    <script id="individualsTable-template" type="text/x-handlebars-template">
        {% verbatim %}
            <td id={{id}} class="" name="id" >{{id}}</td>
            <td id={{id}} class="" name="referralDate" >{{referralDate}}</td>
            <td id={{id}} class="crosshair" name="referralComments" >{{referralComments}}</td>
            <td id={{id}} class="" name="firstName">{{firstName}}</td>
            <td id={{id}} class="" name="lastName" >{{lastName}}</td>
            <td id={{id}} class="crosshair" name="relationship"> {{relationship}}</td>
            <td id={{id}} class="crosshair" name="referralPatientPhone">{{referralPatientPhone}}</td>
            <td id={{id}} class="crosshair" name="referralPatientEmail">{{referralPatientEmail}}</td>
            <td id={{id}} class="crosshair" name="medicalChartID" >{{medicalChartID}}</td>
            <td id={{id}} class="crosshair" name="medicalChart" >{{medicalChart}}</td>
            <td id={{id}} class="crosshair" name="address">{{address}}</td>
            <td id={{id}} class="crosshair" name="dateOfBirth">{{dateOfBirth}}</td>
            <td id={{id}} class="" name="selfGender" >{{selfGender}}</td>
            <td id={{id}} class="" name="selfEthnicity">{{selfEthnicity}}</td>
            <td id={{id}} class="crosshair" name="familySelfComments">{{familySelfComments}}</td>
            <td id={{id}} class="crosshair" name="noteIfFamilyRelatives">{{noteIfFamilyRelatives}} </td>
            <td id={{id}} class="crosshair" name="diagnosisReferral" >{{diagnosisReferral}}</td>
            <td id={{id}} class="crosshair" name="diagnosisSelf" >{{diagnosisSelf}}</td>
            <td id={{id}} class="crosshair" name="diagnosisInDb">{{diagnosisInDb}}</td>
            <td id={{id}} class="crosshair" name="preGeneticScreening">{{preGeneticScreening}}</td>
            <td id={{id}} class="crosshair" name="brainSurgery">{{brainSurgery}}</td>
            <td id={{id}} class="crosshair" name="brainSampleInBank" >{{brainSampleInBank}}</td>
            <td id={{id}} class="crosshair" name="phoneConsented" >{{phoneConsented}}</td>
            <td id={{id}} class="crosshair" name="fullConsented">{{fullConsented}}</td>
            <td id={{id}} class="crosshair" name="notes">{{notes}}</td>
            <td id={{id}} class="" name="doctor">{{doctor}}</td>
            <td id={{id}} class="" name="office">{{office}}</td>
            <td id={{id}} class="crosshair" name="patientId" >{{patientID}}</td>
            <td id={{id}} class="" name="familyId" >{{familyId}}</td>
            <td id={{id}} class="crosshair" name="familyIndividualId" >{{familyIndividualId }}</td>
            <td id={{id}} class="crosshair" name="fatherId">{{fatherId}}</td>
            <td id={{id}} class="crosshair" name="motherId">{{motherId}}</td>
            <td id={{id}} class="" name="created">{{created}}</td>
            <td id={{id}} class="" name="modified" >{{modified}}</td>
        {% endverbatim %}
    </script>


{% endblock %}


{% block main %}
    <div class="container" style="width:100%">
        <div class="row" style="width:100%">
            <div class="col-md-4" style="width:1%"></div>
            <div class="col-md-4" style="width:98%">

                <div style="text-align:center; background-color: #00ff00; color:#000066">{{ flash['success'] }}</div></br>

                <div id="isolatesTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                    <div class="col-xs-6">
                        <div class="dataTables_length" id="tableLength">
                            <label>Show
                                <select name="tableLength" id="tableLength" aria-controls="isolatesTable" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div id="dataTables_filter" class="dataTables_filter">
                            <label>Quick Search:<input type="search" role="search" id="quickSearch" class="form-control input-sm" placeholder="" aria-controls="isolatesTable" ><i class="fa fa-search fa-3" id="faAvancedSearch"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12" id="table" style="margin:0px;"> <!--Luis-->

                        <table id="individualsTable" class="table table-hover dataTable table-bordered tablesorter" cellspacing="0"  style="margin-top:5px;width:100%">
                            <thead>
                                <tr>
                                    <th class="sorting" name="id" >id</th>
                                    <th class="sorting" name="referralDate" >referral date</th>
                                    <th class="sorting" name="referralComments" >referral comments</th>
                                    <th class="sorting" name="firstName">first name</th>
                                    <th class="sorting" name="lastName" >last name</th>
                                    <th class="sorting" name="relationship">relationship</th>
                                    <th class="sorting" name="referralPatientPhone">phone #</th>
                                    <th class="sorting" name="referralPatientEmail">email</th>
                                    <th class="sorting" name="medicalChartID" >medical chart ID</th>
                                    <th class="sorting" name="medicalChart" >medical chart</th>
                                    <th class="sorting" name="address">address</th>
                                    <th class="sorting" name="dateOfBirth">DOB</th>
                                    <th class="sorting" name="selfGender" >self-gender/Ext</th>
                                    <th class="sorting" name="selfEthnicity">self-ethnicity</th>
                                    <th class="sorting" name="familySelfComments">family-self-comments</th>
                                    <th class="sorting" name="noteIfFamilyRelatives">family relatives </th>
                                    <th class="sorting" name="diagnosisReferral" >diagnosis-Referral</th>
                                    <th class="sorting" name="diagnosisSelf" >diagnosis-self</th>
                                    <th class="sorting" name="diagnosisInDb">diagnosisInDb</th>
                                    <th class="sorting" name="preGeneticScreening">pre genetic screening</th>
                                    <th class="sorting" name="brainSurgery">brain surgery </th>
                                    <th class="sorting" name="brainSampleInBank" >brain sample in bank</th>
                                    <th class="sorting" name="phoneConsented" >phone consented</th>
                                    <th class="sorting" name="fullConsented">full consented</th>
                                    <th class="sorting" name="notes">notes</th>
                                    <th class="sorting" name="doctor">doctor </th>
                                    <th class="sorting" name="office">office</th>
                                    <th class="sorting" name="patientId" >patient ID</th>
                                    <th class="sorting" name="familyId" >family ID</th>
                                    <th class="sorting" name="familyIndividualId" >family Individual ID</th>
                                    <th class="sorting" name="fatherId">fatherID</th>
                                    <th class="sorting" name="motherId">motherID</th>
                                    <th class="sorting" name="created">created</th>
                                    <th class="sorting" name="modified" >modified</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                <tr>
                                    <th class="sorting" name="id" >id</th>
                                    <th class="sorting" name="referralDate" >referral date</th>
                                    <th class="sorting" name="referralComments" >referral comments</th>
                                    <th class="sorting" name="firstName">first name</th>
                                    <th class="sorting" name="lastName" >last name</th>
                                    <th class="sorting" name="relationship">relationship</th>
                                    <th class="sorting" name="referralPatientPhone">phone #</th>
                                    <th class="sorting" name="referralPatientEmail">email</th>
                                    <th class="sorting" name="medicalChartID" >medical chart ID</th>
                                    <th class="sorting" name="medicalChart" >medical chart</th>
                                    <th class="sorting" name="address">address</th>
                                    <th class="sorting" name="dateOfBirth">DOB</th>
                                    <th class="sorting" name="selfGender" >self-gender</th>
                                    <th class="sorting" name="selfEthnicity">self-ethnicity</th>
                                    <th class="sorting" name="familySelfComments">family-self-comments</th>
                                    <th class="sorting" name="noteIfFamilyRelatives">family relatives</th>
                                    <th class="sorting" name="diagnosisReferral" >diagnosis-Referral</th>
                                    <th class="sorting" name="diagnosisSelf" >diagnosis-self</th>
                                    <th class="sorting" name="diagnosisInDb">diagnosisInDb</th>
                                    <th class="sorting" name="preGeneticScreening">pre genetic screening</th>
                                    <th class="sorting" name="brainSurgery">brain surgery</th>
                                    <th class="sorting" name="brainSampleInBank" >brain sample in bank</th>
                                    <th class="sorting" name="phoneConsented" >phone consented</th>
                                    <th class="sorting" name="fullConsented">full consented</th>
                                    <th class="sorting" name="notes">notes</th>
                                    <th class="sorting" name="doctor">doctor</th>
                                    <th class="sorting" name="office">office</th>
                                    <th class="sorting" name="patientId" >patient ID</th>
                                    <th class="sorting" name="familyId" >family ID</th>
                                    <th class="sorting" name="familyIndividualId" >family Individual ID</th>
                                    <th class="sorting" name="fatherId">fatherID</th>
                                    <th class="sorting" name="motherId">motherID</th>
                                    <th class="sorting" name="created">created</th>
                                    <th class="sorting" name="modified" >modified</th>
                                </tr>
                                </tr>
                            </tfoot>
                            <tbody>


                            {% for item in data['data']  %}
                                <tr>
                                    <td class="" name="id" >{{item.id}}</td>
                                    <td class="" name="referralDate" >{{item.referralDate}}</td>
                                    <td class="crosshair" name="referralComments" >{{item.referralComments}}</td>
                                    <td class="" name="firstName">{{item.firstName}}</td>
                                    <td class="" name="lastName" >{{item.lastName}}</td>
                                    <td class="crosshair" name="relationship"> {{ item.relationship}} </td>
                                    <td class="crosshair" name="referralPatientPhone">{{item.referralPatientPhone}}</td>
                                    <td class="crosshair" name="referralPatientEmail">{{item.referralPatientEmail}}</td>
                                    <td class="crosshair" name="medicalChartID" >{{item.medicalChartId}}</td>
                                    <td class="crosshair" name="medicalChart" >{{item.medicalChart}}</td>
                                    <td class="crosshair" name="address">{{item.address}}</td>
                                    <td class="crosshair" name="dateOfBirth">{{item.dateOfBirth}}</td>
                                    <td class="" name="selfGender" >{{item.selfGender}}</td>
                                    <td class="" name="selfEthnicity">{{item.selfEthnicity}}</td>
                                    <td class="crosshair" name="familySelfComments">{{item.familySelfComments}}</td>
                                    <td class="crosshair" name="noteIfFamilyRelatives">{{item.noteIfFamilyRelatives}} </td>
                                    <td class="crosshair" name="diagnosisReferral" >{{item.diagnosisReferral}}</td>
                                    <td class="crosshair" name="diagnosisSelf" >{{item.diagnosisSelf}}</td>
                                    <td class="crosshair" name="diagnosisInDb">{{item.diagnosisInDb}}</td>
                                    <td class="crosshair" name="preGeneticScreening">{{item.preGeneticScreening}}</td>
                                    <td class="crosshair" name="brainSurgery">{{item.brainSurgery}}</td>
                                    <td class="crosshair" name="brainSampleInBank" >{{item.brainSampleInBank}}</td>
                                    <td class="crosshair" name="phoneConsented" >{{item.phoneConsented}}</td>
                                    <td class="crosshair" name="fullConsented">{{item.fullConsented}}</td>
                                    <td class="crosshair" name="notes">{{item.notes}}</td>
                                    <td class="" name="doctor">{{item.doctor}}</td>
                                    <td class="" name="office">{{item.office}}</td>
                                    <td class="crosshair" name="patientId" >{{item.patientId}}</td>

                                    <td class="crosshair" name="familyId" >{{item.familyId}}</td>
                                    <td          name="familyIndividualId" >{{ item.familyIndividualId}}</td>
                                    <td class="crosshair" name="fatherId">{{item.fatherId}}</td>
                                    <td class="crosshair" name="motherId">{{item.motherId}}</td>
                                    <td class="" name="created">{{item.created}}</td>
                                    <td class="" name="modified" >{{item.modified}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--table-->
                    <!--<button type="button" class="btn btn-primary" style="float:right" onClick="window.location.replace(&quot;/isolatesFull&quot;)">Show all data fields</button>-->
                </div> <!--wrapper-->
                <div class="col-xs-12 paginationWrapper" style="padding-left:15px">
                    <!--javascript will set pagination here -->
                    <ul class="pagination" id="pagination" style="margin:5px; float:left; font-size:12px">
                    </ul>
                    <ul class="export" style="margin:0px; float:left; margin-top: 7px; padding-left: 15px;">
                        <form action="exportIsolates" method="post">
                            <input type="hidden" id="submitExportSampleIds" name="sampleIds_" value="" />
                            <span><button style="margin-right:10px; color:#428bca; margin-top:-1px" class="btn btn-sm btn-default" />Export</span>
                        </form>
                    </ul>
                </div>
            </div> <!--md-4 90%-->
            <div class="col-md-4" style="width:1%"></div>
        </div> <!--row-->
    </div> <!--container-->





{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="public/assets/js/pagination.js"></script>
    <script src="public/assets/js/patients.js"></script>
{% endblock %}